<section class="landingPageContainer">
  <div class="navBar">
  <% if current_user %>
    <%= render "shared/nav_bar" %>
  <% else %>
    <%= render "shared/landing_nav_bar" %>
  <% end %>
  </div>
  <div  class="signIn">
  <% if !current_user %>
  <nav class="sign-in">
    <p>Already a Member?</p>
    <a href="/users/sign_in" class="sign-in-button">Sign In</a>
  </nav>
  <% end %>
  </div>
  <div class="landingbox">
    <div class="mainpagebox">
      <h1>Get Motivated</h1>
      <p>Find a gym buddy</p>
      <p>Meet new people</p>
      <a href="#meetYourMatch"><button>Learn More</button></a>

    </div>
    <div class="mainpagebox2">
      <h1>Find Your FITNESS</h1>
      <p>Search for events in your area<br>
      Grow your community<br>
      Get active</p>
      <a href="#"><button>Join Now</button></a>
    </div>
  </div>
</section>

<section class="meetMatch" id="meetYourMatch">
  <h1>Meet Your Match</h1>
  <h2>Find a gym buddy</h2>
  <p>Gymme will match you with a gym partner based on your location, availability and fitness interests. Prepare to meet your match.</p>
  <a href="#" class="joinNow">Join Now</a>
</section>
<section class="findBalance">
  <div class="balanceBox">
    <h2>Find Balance</h2>
    <h3>Search for events nearby</h3>
    <p>Find the right fit for</p>
    <p>your schedule</p>
    <a href="#" class="joinNow">Join now</a>
  </div>
</section>

<section class="findEvent" id="findEvent">
  <div class="eventBox">
    <h1>Find an Event</h1>
    <h2>Join events nearby</h2>
    <p>Gymme will help you find an event based on your location, and fitness interests. Prepare to meet your new squad.</p>
    <a href="#" class="joinNow">Join Now</a>
  </div>
</section>
<section class="creators" id="creators">
  <div class="creatorBox">
    <h2>Meet the Creators</h2>
    <div class="creators-photo-container">
      <div class="divCircle"></div>
      <div class="divCircle"></div>
      <div class="divCircle"></div>
    </div>
  </div>
</section>
