<nav class="nav-bar landing-page-nav-bar">
  <div class="gymmelogo-container">
    <h1 class="landing-gymme-logo">Gymme</h1>
  </div>
  <div class="landing-nav-item-container">

    <ul class="nav-bar-items">
      <div class="nav-button">
        <a href="#"><li class="desktop nav-item"> Home </li></a>
      </div>
      <div class="nav-button">
        <a href="#meetYourMatch"><li class="desktop nav-item"> Meet Your Match </li></a>
      </div>
      <div class="nav-button">
        <a href="#findEvent"><li class="desktop nav-item"> Find an Event </li></a>
      </div>
      <div class="nav-button">
        <a href="#creators"><li class="desktop nav-item"> About </li></a>
      </div>
    </ul>
    <ul class="nav-bar-items drop-down-items drop-down-items-landing" id="dropDownItems">
      <div class="nav-button">
        <a href="#"><li class="desktop nav-item"> Home </li></a>
      </div>
      <div class="nav-button">
        <a href="#meetYourMatch"><li class="desktop nav-item"> Meet Your Match </li></a>
      </div>
      <div class="nav-button">
        <a href="#findEvent"><li class="desktop nav-item"> Find an Event </li></a>
      </div>
      <div class="nav-button">
        <a href="#creators"><li class="desktop nav-item"> About </li></a>
      </div>
    </ul>

    <div class="hamburger-menu-icon" id="hamburgerMenuIcon">
      <%= image_tag("menu.svg") %>
    </div>

  </div>

</nav>

<div class="screen-cover drop-down-screen-cover-tint" id="dropDownScreenCover"></div>
