<div class="navBar">
<% if current_user %>
  <%= render "shared/nav_bar" %>
<% else %>
  <%= render "shared/landing_nav_bar" %>
<% end %>
</div>


<section class="create-new-event">

  <div class="new-event top-heading">
    <h1 class="new-event-heading">Edit Your Event</h1>
  </div>
  <div class="new-event sub-heading">
    <h2 class="new-event-heading">We’ll help find you some awesome people.</h2>
  </div>
  <div class="hero-image">
  </div>

  <section class="new-event-form">
    <%= render "event_form", event: @event %>
  </section>
</section>
