.big-button {
  display: block;
  border: 1px solid var(--main-dark-grey);
  padding: 13px 10px;
  margin: 1em auto;
  width: 55%;
  background-color: var(--main-white);
  font-size: 1.1em;
}
    .big-button:hover {
      background-color: var(--main-dark-grey);
      color: var(--main-white);
      border: 1px solid var(--main-black);
      z-index: 10;
    }

.user-options-link {
  display: block;
  border-bottom: 1px solid var(--main-dark-grey);
  padding: 6px 10px;
  margin: 0 auto;
  width: 55%;
  font-size: 1.1em;
}

.user-options-link.logout {
  border: none;
}

.large-submit-button > input[type=submit] {
  border-radius: 5px;
  border: 0;
  width: 135px;
  height: 50px;
  font-family: sans-serif;
  font-size: 1.4em;
  cursor: pointer;
  margin: 1em 0;
  background: #ff8888;
  color: white;

}

.large-submit-button > input[type=submit]:hover {
  background-color: var(--main-green);
}

.large-submit-button > input[type=submit]:active {
  background-color: var(--main-green);
}

button {
    background-color: white;
    border: black;
    color: black;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
}
