// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-time {
  font-size: 12px;
}

.comment-user {
  font-size: 12px;
}

.comment-body {
  font-size: 16px;
}
