// ------------- HEADING AND HERO IMAGE -------------
.new-event {
  background-color: white;
  color: black;
  padding: 5px 5px;
  margin: 10px 0;

}

.top-heading {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;

}

.sub-heading {
  top: 146px;
  left: 31%;
  font-size: 10px;
  letter-spacing: 1px;

}

.create-new-event .hero-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(/assets/balancing.jpg);
  background-size: 148%;
  background-position: 0 65%;
  background-repeat: no-repeat;
  height: 200px;
}

.create-new-event .top-heading {
  top: 96px;
  left: 34%;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;

}

.create-new-event .sub-heading {
  top: 146px;
  left: 24%;
  font-size: 10px;
  letter-spacing: 1px;

}


// ------------- FORM -------------
.new-event-form {
  margin: 25px auto 50px auto;
  padding: 0 50px;
  max-width: 700px;
}

.form-card {
  border-bottom: solid grey 1px;
  padding: 30px 80px;
}

.form-item {
  display: inline-block;
  padding: 0 5px;
}

.form-item.description {
  padding: 0 58px;
}

textarea {
  width: 370px;
  height: 100px;
}

.description {
  border-bottom: none;
}

.form-item h3 {
  font-weight: bold;
  padding: 10px 0 5px 0;
}

.form-item.submit {
  padding: 0 72px;
}

.form-item.submit input {
  padding: 7px 12px;
  background-color: #86d9f1;

}


// ------------- ICONS -------------
.form-item-icon {
  display: inline-block;
  width: 50px;
}
