// Place all the styles related to the landings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.landingPageContainer {
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin: auto;
}


.mainpagebox {
  height: 250px;
  color: white;
  padding-left: 25px;
  background-color: rgba(0, 0, 0, 0.19);
  margin: 30px 20px 0 20px;
  padding: 40px 0 40px 75px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  letter-spacing: 0.4rem;
} .mainpagebox h1 {
  font-size: 2em;
  display: block;
} .mainpagebox p {
  padding-left: 15px;
  font-size: 1.5em;
  display: block;
}

.mainpagebox2 {
  height: auto;
  color: white;
  padding-left: 25px;
  background-color: rgba(255, 255, 255, 0.11);
  display: flex;
  margin: 30px 20px 0 20px;
  padding: 40px 75px 40px 75px;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
} .mainpagebox2 h1 {
      font-weight: bold;
      font-size: 2em;
      text-align: center;
      letter-spacing: 0.4rem;

  font-size: 2em;
} .mainpagebox2 button {
  margin: 0 75px 0 75px;
} .mainpagebox2 p {
  font-size: 1.3em;
  line-height: 1.5rem;
  padding: 0 10px 0 10px;
  text-align: center;
}

.meetMatch {
  height: 300px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  line-height: 3rem;
  padding: 0 50px 0 50px;
  margin: 30px 0;
} .meetMatch h1 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.4rem;
} .meetMatch h2 {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.findBalance {
  height: 350px;
  width: 100%;
  background-image: url(yogalanding.png);
  background-size: 190%;
  background-repeat: no-repeat;
  background-position: 88% 10%;
}

.findBalance .joinNow {
  margin: 10px 0;
  padding: 15px 30px;
  display: inline-block;
}

.balanceBox {
  color: black;
  padding: 74px 0 0 0;
  background-color: #ffffff36;
  height: 100%;
  text-align: center;
} .balanceBox h2 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  padding: 0 0 10px 0;
} .balanceBox h3 {
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  margin: 5px 0;
}
.balanceBox p {
  padding: 5px 0;
}

.findEvent {
  height: 300px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  line-height: 3rem;
  padding: 0 50px 0 50px;
  margin: 30px 0;
} .findEvent h1 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.4rem;
} .findEvent h2 {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.creators {
  // height: 350px;
  width: 100%;
  background-image: url(ocean-horizon.jpg);
  background-size: cover;
  background-position-y: bottom;
  background-position-x: center;
  background-repeat: no-repeat;
}

.creatorBox {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  height: 100%;
  padding: 40px;
} .creatorBox h2 {
  color: white;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 0.4rem;
  padding: 20px 0;
}

.divCircle {
  width: 170px;
  height: 170px;
  background-color: #ababab;
  border-radius: 50%;
  display: inline-block;
  margin: 10px 10px 25px 10px;

}

.landing-gymme-logo {
  font-family: 'Monofett', cursive;
  font-size: 3.3em;
  padding: 0 0 7px 10px;
}

.gymme-logo {
  font-family: 'Monofett', cursive;
  font-size: 2.4em;
  padding: 0 0 4px 10px;

}

.signInBox {
  background-image: url(background.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.loginBOX {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: auto 0;
  background-color: rgba(0, 0, 0, 0.19);
  padding-top: 12px;
}
.loginBOX a {
  color: white;
}

.joinNow {
  background-color: lightblue;
  color: black;
  text-decoration: none;
  padding: 10px 30px;
}


@media screen and (min-width: 820px){

  .landingbox {
    display: flex;
    margin: 0 105px;
  }

  .mainpagebox {
    width: 60%;
    height: 250px;
    color: white;
    padding-left: 25px;
    background-color: rgba(0, 0, 0, 0.19);
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 0;

    padding: 40px 0 40px 75px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    letter-spacing: 0.4rem;
  } .mainpagebox h1 {
    font-size: 2em;
    display: block;
  } .mainpagebox p {
    padding-left: 15px;
    font-size: 1.5em;
    display: block;
  }


  .mainpagebox2 {
    width: 40%;
    height: 300px;
    padding-left: 0;
    background-color: rgba(255, 255, 255, 0.11);
    display: flex;
    padding: 0 10px 0 10px;
    margin: 75px 20px 0 0;

    flex-direction: column;
    justify-content: space-around;
  } .mainpagebox2 h1 {
        text-align: center;
        letter-spacing: 0.4rem;

    font-size: 2em;
  } .mainpagebox2 button {
    margin: 0 75px 0 75px;
  } .mainpagebox2 p {
    line-height: 2rem;
    padding: 0 10px 0 10px;
    text-align: center;
  }


}

@media screen and (max-width: 660px){
  .divCircle {
    display: block;
    margin: 15px auto;
  }
}
