.profile-area {
  background-color: var(--main-grey);
}
//--------- BUTTONS --------- //
.icon-button {
  width: 1em;
  padding: 10px 0;
  cursor: pointer;
}

.close-button {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.settings-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.logout {
  position: relative;
  z-index: 10;
}

.user-options-avatar {
  display: inline-block;
  width: 5em;
  height: 5em;
  border-radius: 100%;
  vertical-align: middle;
  padding: 0;
  vertical-align: center;
  margin: 7em 0 0.5em 0;
}

.current-user {
  color: black;
  padding: 0.3em 0 6em 0;
  font-size: 0.8em;
  cursor: default;
}


.user-options-avatar img {
  border-radius: 100%;
}

.user-options-modal {
  text-align: center;
  position: absolute;
  right: 0;
  top: 38px;
  background-color: white;
  width: 300px;
  z-index: 200;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.user-options-modal.hidden {
  display: none;
}


.user-options-modal a {
  color: black;
  font-family: sans-serif;
  text-decoration: none;
}
// .user-options-item {
//   padding: 7px 10px;
//   border-bottom: 1px solid black;
// }
    .user-options li:hover {
      background-color: var(--main-dark-grey);
      color: white;
}

.screen-cover {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  margin-top: 38px;
}

.drop-down-screen-cover-tint {
  background-color: rgba(#000000, 0.31);

}
